# Configuration file

####################
# arsmagica tweaks
####################

"arsmagica tweaks" {
    B:"Can desert novas be obtained"=true
    B:"Can moonstone be obtained"=false
    B:TinkerBridge=true
}


####################
# natura tweaks
####################

"natura tweaks" {
    B:"Can berry bushes be obtained"=true
    B:"Can natura trees be obtained"=true
    B:"Can nether bushes be obtained"=true
    B:"Can nether trees be obtained"=true

    # Redwoods eat every block going both up and down. Use at your own peril. Or enjoyment
    B:"Can redwood trees be obtained"=false
}


####################
# tcon tweaks
####################

"tcon tweaks" {
    # False for counting as an ingot
    B:"Are Gravel/Sand/Dust Ores actually ores"=true
    B:"Can Gravel/Sand/Dust items be smelted"=true
    B:"Can essense bushes be obtained"=true
    B:"Can nether ores be obtained"=true
    B:"Can oreberry bushes be composted"=false
    B:"Can orebushes be obtained"=true
    B:"Enable mini-smelteries"=false

    # Normal is 1/4 the block value. False means dusts are 1/6 the value
    B:"Normal dust value in the smeltery"=true
}


